name: CI
on:
  pull_request:
  push:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 16.x

      - name: Yarn cache
        uses: actions/cache@v2
        id: yarn-cache
        with:
          path: node_modules
          key: ${{ runner.os }}-yarn-${{ hashFiles('yarn.lock') }}-${{ hashFiles('.yarnrc.yml') }}

      - name: Install dependencies
        run: yarn install --immutable && yarn dedupe --check
        if: steps.yarn-cache.outputs.cache-hit != 'true'

      - name: Check TypeScript
        run: yarn typecheck

      - name: Build
        run: yarn build

      - name: Lint
        run: yarn eslint . --ext .ts  --max-warnings 0 # no fix

      - name: Test
        run: yarn test

      - name: Publish
        if: github.event_name == 'push' && github.ref == 'refs/heads/master'
        run: yarn semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Test Publish
        if: github.event_name != 'push' || github.ref != 'refs/heads/master'
        run: yarn semantic-release --dry-run
